/* banner stream image section*/
.banner-stream-section {
  display: grid;
  place-items: center;
}

.banner-stream-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-stream-img {
  width: calc(100vw - 10vw);
}

@media screen and (max-width: 1024px) {
  .banner-stream-img {
    margin-left: 30px;
  }
}

@media screen and (max-width: 769px) {
  .banner-stream-img {
    margin-left: 60px;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .banner-stream-img {
    margin-left: 60px;
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .banner-stream-img {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* online streaming events section */
.online-streaming-events-section {
  position: relative;
}

.online-streaming-heading h1,
.online-streaming-heading h4 {
  margin-top: 40px;
}

/* outdoor events section */

.outdoor-events-heading h1 span {
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  font-weight: 200;
}

/* for btns */

.outdoor-events-section {
  position: relative;
}

/* laughter therapy section */

/* for btns */
.laughter-therapy-section {
  position: relative;
}

/* popular events section */

/* for btns */

.popular-events-section {
  position: relative;
}

/* games and sports events section */

/* for btns */
.games-sport-section {
  position: relative;
}

/* fun activites section */

/* for btns */

.fun-activities-section {
  position: relative;
}

/* trending searches section */

.trending-searches {
  transition: 0.5s;
  display: none;
}

@media screen and (min-width: 769px) {
  .trending-searches {
    display: block;
  }
}

.trending-search-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 20px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
}

.trending-search-container h2 {
  color: var(--primary-color);
  font-size: 1rem;
}

.trending-search-container h3 {
  color: rgb(160, 156, 156);
  font-size: 0.8rem;
  font-weight: 200;
}

.trending-search-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 1rem 1rem 4rem;
}

/* backto home section */

.backto-home-section {
  display: none;
  transition: 0.5s;
}

.backto-home a {
  color: rgb(160, 156, 156);
  font-size: 0.8rem;
}

@media screen and (min-width: 1024px) {
  .backto-home-section {
    display: flex;
    background-color: white;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
}

/* automatic slider section */

.automatic-slider-section {
  margin-top: 10px;
}

.automatic-slider-container {
  position: relative;
  transition: 0.5s;
}

.slider-slides {
  border-radius: 4px;
  display: none;
}

.left-click-slide,
.right-click-slide {
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 10px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  position: absolute;
  top: 40%;
  cursor: pointer;
}

.right-click-slide {
  border-top-right-radius: none;
  border-bottom-right-radius: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  right: 0;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.dot1,
.dot2,
.dot3 {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .slider-slides {
    margin-left: 70px;
    width: 85%;
  }
}

@media screen and (min-width: 1024px) {
  .slider-slides {
    margin-left: 70px;
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .slider-slides {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .left-click-slide,
  .right-click-slide {
    font-size: 0.8rem;
    padding: 7px;
  }

  .dots {
    left: 45%;
    bottom: 5px;
  }

  .dot1,
  .dot2,
  .dot3 {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 375px) {
  .dots {
    bottom: 3px;
  }

  .dot1,
  .dot2,
  .dot3 {
    font-size: 0.5rem;
  }
}

/* buzz section */

.buzz-heading-title span {
  font-size: 0.9rem;
  font-weight: 200;
}
.buzz-main-container {
  margin-left: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.buzz-single-item {
  color: white;
  margin-right: 10px;
  display: flex;
  width: 300px;
}
.buzz-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(43, 49, 72);
  padding: 10px 5px 10px 10px;
  border-radius: 10px;
  width: inherit;
}
.buzz-container img {
  width: 92px;
  border-radius: 6px;
}
.buzz-container p {
  padding: 10px;
  margin-left: 10px;
  font-size: 0.9rem;
}
.buzz-section {
  display: none;
}
@media screen and (max-width: 767px) {
  .buzz-section {
    display: block;
  }
}
/* mobile below menu icons section */

.mobile-below-menu-section {
  display: none;
  transition: 0.5s;
  padding-top: 5px;
  padding-bottom: 5px;
  position: sticky;
  bottom: 1px;
  background-color: #e9ecef;
}
.mobile-below-menu-main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mobile-below-menu-container {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-below-menu-container p {
  color: rgb(102, 102, 102);
  font-size: 0.7rem;
}
.mobile-below-menu-icon {
  color: black;
  width: 35px;
  height: 30px;
}

.black-color {
  filter: grayscale(100%);
}
@media screen and (max-width: 767px) {
  .mobile-below-menu-section {
    display: block;
  }
}
