/* for premiere section */

.premiere-movies-section {
  background: rgb(43, 49, 72);
  position: relative;
  margin-top: 30px;
}

/* premiere banner image */

.banner-premiere-img-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}
.banner-premiere-img {
  margin-left: 65px;
}

@media screen and (max-width: 767px) {
  .banner-premiere-img {
    margin-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .banner-premiere-img {
    width: 1000px;
  }
}

/* premiere title */
.premiere-heading-title {
  color: white;
}
.premiere-heading-title span {
  font-size: 0.9rem;
  font-weight: 200;
}
.see-all-premiere {
  color: rgb(220, 53, 88) !important;
}

/* for premiere poster and movie title and description */
.premiere-poster,
.border-radius-poster {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.premiere-movie-title {
  color: white;
  font-size: 1rem;
}
.premiere-description {
  color: white;
  font-size: 0.9rem;
}

/* for btns */
.premiere-slide-btn1 {
  top: 60%;
}
.premiere-slide-btn2 {
  top: 60%;
}
