@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
::before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: rgb(248, 68, 100);
  --roboto-font: "Roboto", sans-serif;
  --nav-links-color: #ced4da;
  --footer-color: rgb(165, 165, 165);
}
::-webkit-scrollbar {
  width: 0;
  background: transparent transparent;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
body {
  font-family: var(--roboto-font);
  background-color: #e9ecef;
  user-select: none;
}
/* preloader for desktop */
.preloader-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  display: grid;
  place-items: center;
  z-index: 999;
  transition: 0.5s;
}
.preloader {
  width: 3rem;
  height: 3rem;
  border: 3.5px solid #dee7f0;
  border-radius: 50%;
  border-top-color: var(--primary-color);
  animation: spinner 0.6s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/* preloader for mobile */
.preloader-items {
  transition: 0.5s;
  display: none;
}

@media screen and (max-width: 425px) {
  .preloader-section {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .preloader-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .preloader-text {
    color: white;
    font-weight: 400;
    font-size: 1.3rem;
  }
  .preloader {
    width: 2.5rem;
    height: 2.5rem;
    border: 4px solid #dee7f0;
    border-top-color: white;
    margin-top: 50px;
  }
}
@media screen and (max-width: 320px) {
  .preloader-img {
    width: 250px;
  }
  .preloader-text {
    font-size: 1rem;
  }
}
